LOCATE COMP "clk12" SITE "A10";
IOBUF PORT "clk12" IO_TYPE=LVCMOS33;
LOCATE COMP "clk50" SITE "B11";
IOBUF PORT "clk50" IO_TYPE=LVCMOS33;

LOCATE COMP "versa25[0]" SITE "D15";
IOBUF PORT "versa25[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[1]" SITE "B15";
IOBUF PORT "versa25[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[2]" SITE "C15";
IOBUF PORT "versa25[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[3]" SITE "B13";
IOBUF PORT "versa25[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[4]" SITE "B20";
IOBUF PORT "versa25[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[5]" SITE "D11";
IOBUF PORT "versa25[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[6]" SITE "E11";
IOBUF PORT "versa25[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[7]" SITE "B12";
IOBUF PORT "versa25[7]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[8]" SITE "C12";
IOBUF PORT "versa25[8]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[9]" SITE "D12";
IOBUF PORT "versa25[9]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[10]" SITE "E12";
IOBUF PORT "versa25[10]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[11]" SITE "C13";
IOBUF PORT "versa25[11]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[12]" SITE "D13";
IOBUF PORT "versa25[12]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[13]" SITE "E13";
IOBUF PORT "versa25[13]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[14]" SITE "A14";
IOBUF PORT "versa25[14]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[15]" SITE "A9";
IOBUF PORT "versa25[15]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[16]" SITE "B10";
IOBUF PORT "versa25[16]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[17]" SITE "A11";
IOBUF PORT "versa25[17]" IO_TYPE=LVCMOS25;
LOCATE COMP "versa25[18]" SITE "A19";
IOBUF PORT "versa25[18]" IO_TYPE=LVCMOS25;

LOCATE COMP "versa33[0]" SITE "K2";
IOBUF PORT "versa33[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[1]" SITE "A15";
IOBUF PORT "versa33[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[2]" SITE "F1";
IOBUF PORT "versa33[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[3]" SITE "H2";
IOBUF PORT "versa33[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[4]" SITE "G1";
IOBUF PORT "versa33[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[5]" SITE "J4";
IOBUF PORT "versa33[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[6]" SITE "J5";
IOBUF PORT "versa33[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[7]" SITE "J3";
IOBUF PORT "versa33[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[8]" SITE "K3";
IOBUF PORT "versa33[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[9]" SITE "L4";
IOBUF PORT "versa33[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[10]" SITE "L5";
IOBUF PORT "versa33[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[11]" SITE "M4";
IOBUF PORT "versa33[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[12]" SITE "N5";
IOBUF PORT "versa33[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[13]" SITE "P5";
IOBUF PORT "versa33[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[14]" SITE "N3";
IOBUF PORT "versa33[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[15]" SITE "M3";
IOBUF PORT "versa33[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[16]" SITE "K5";
IOBUF PORT "versa33[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[17]" SITE "M5";
IOBUF PORT "versa33[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[18]" SITE "L3";
IOBUF PORT "versa33[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[19]" SITE "N2";
IOBUF PORT "versa33[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[20]" SITE "M1";
IOBUF PORT "versa33[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[21]" SITE "L2";
IOBUF PORT "versa33[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[22]" SITE "L1";
IOBUF PORT "versa33[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[23]" SITE "N1";
IOBUF PORT "versa33[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[24]" SITE "C14";
IOBUF PORT "versa33[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[25]" SITE "P1";
IOBUF PORT "versa33[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[26]" SITE "E14";
IOBUF PORT "versa33[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[27]" SITE "D14";
IOBUF PORT "versa33[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "versa33[28]" SITE "K4";
IOBUF PORT "versa33[28]" IO_TYPE=LVCMOS33;

LOCATE COMP "ar_io[0]" SITE "F19";
IOBUF PORT "ar_io[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[1]" SITE "F20";
IOBUF PORT "ar_io[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[2]" SITE "E20";
IOBUF PORT "ar_io[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[3]" SITE "E19";
IOBUF PORT "ar_io[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[4]" SITE "D19";
IOBUF PORT "ar_io[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[5]" SITE "D20";
IOBUF PORT "ar_io[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[6]" SITE "C20";
IOBUF PORT "ar_io[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[7]" SITE "K17";
IOBUF PORT "ar_io[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[8]" SITE "K16";
IOBUF PORT "ar_io[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[9]" SITE "J16";
IOBUF PORT "ar_io[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[10]" SITE "H17";
IOBUF PORT "ar_io[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[11]" SITE "J17";
IOBUF PORT "ar_io[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[12]" SITE "H18";
IOBUF PORT "ar_io[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[13]" SITE "H16";
IOBUF PORT "ar_io[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[14]" SITE "C18";
IOBUF PORT "ar_io[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[15]" SITE "F18";
IOBUF PORT "ar_io[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[16]" SITE "E17";
IOBUF PORT "ar_io[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[17]" SITE "E18";
IOBUF PORT "ar_io[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[18]" SITE "D18";
IOBUF PORT "ar_io[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[19]" SITE "F16";
IOBUF PORT "ar_io[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_io[20]" SITE "E16";
IOBUF PORT "ar_io[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_reset" SITE "D17";
IOBUF PORT "ar_reset" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_aref" SITE "G18";
IOBUF PORT "ar_aref" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_sda" SITE "G16";
IOBUF PORT "ar_sda" IO_TYPE=LVCMOS33;
LOCATE COMP "ar_scl" SITE "F17";
IOBUF PORT "ar_scl" IO_TYPE=LVCMOS33;

LOCATE COMP "rpi_io[2]" SITE "T17";
IOBUF PORT "rpi_io[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[3]" SITE "U16";
IOBUF PORT "rpi_io[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[4]" SITE "U17";
IOBUF PORT "rpi_io[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[5]" SITE "U18";
IOBUF PORT "rpi_io[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[6]" SITE "T18";
IOBUF PORT "rpi_io[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[7]" SITE "R18";
IOBUF PORT "rpi_io[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[8]" SITE "U19";
IOBUF PORT "rpi_io[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[9]" SITE "T19";
IOBUF PORT "rpi_io[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[10]" SITE "U20";
IOBUF PORT "rpi_io[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[11]" SITE "R20";
IOBUF PORT "rpi_io[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[12]" SITE "T20";
IOBUF PORT "rpi_io[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[13]" SITE "P20";
IOBUF PORT "rpi_io[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[14]" SITE "P18";
IOBUF PORT "rpi_io[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[15]" SITE "N20";
IOBUF PORT "rpi_io[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[16]" SITE "P19";
IOBUF PORT "rpi_io[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[17]" SITE "N19";
IOBUF PORT "rpi_io[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[18]" SITE "T16";
IOBUF PORT "rpi_io[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[19]" SITE "R17";
IOBUF PORT "rpi_io[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[20]" SITE "P16";
IOBUF PORT "rpi_io[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[21]" SITE "R16";
IOBUF PORT "rpi_io[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[22]" SITE "N17";
IOBUF PORT "rpi_io[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[23]" SITE "P17";
IOBUF PORT "rpi_io[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[24]" SITE "M17";
IOBUF PORT "rpi_io[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[25]" SITE "N18";
IOBUF PORT "rpi_io[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[26]" SITE "N16";
IOBUF PORT "rpi_io[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_io[27]" SITE "M18";
IOBUF PORT "rpi_io[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "rpi_sda" SITE "L18";
LOCATE COMP "rpi_scl" SITE "L17";

LOCATE COMP "j5[0]" SITE "H20";
IOBUF PORT "j5[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[1]" SITE "G19";
IOBUF PORT "j5[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[2]" SITE "K18";
IOBUF PORT "j5[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[3]" SITE "J18";
IOBUF PORT "j5[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[4]" SITE "K19";
IOBUF PORT "j5[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[5]" SITE "J19";
IOBUF PORT "j5[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[6]" SITE "K20";
IOBUF PORT "j5[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[7]" SITE "J20";
IOBUF PORT "j5[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "j5[8]" SITE "G20";
IOBUF PORT "j5[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "j8[0]" SITE "L19";
IOBUF PORT "j8[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j8[1]" SITE "M19";
IOBUF PORT "j8[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j8[2]" SITE "L20";
IOBUF PORT "j8[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j8[3]" SITE "M20";
IOBUF PORT "j8[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j8[4]" SITE "L16";
IOBUF PORT "j8[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "j32[0]" SITE "A5";
IOBUF PORT "j32[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[1]" SITE "A4";
IOBUF PORT "j32[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[2]" SITE "C5";
IOBUF PORT "j32[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[3]" SITE "B5";
IOBUF PORT "j32[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[4]" SITE "B4";
IOBUF PORT "j32[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[5]" SITE "C4";
IOBUF PORT "j32[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[6]" SITE "B3";
IOBUF PORT "j32[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[7]" SITE "A3";
IOBUF PORT "j32[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[8]" SITE "D5";
IOBUF PORT "j32[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[9]" SITE "E4";
IOBUF PORT "j32[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[10]" SITE "D3";
IOBUF PORT "j32[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[11]" SITE "C3";
IOBUF PORT "j32[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[12]" SITE "E3";
IOBUF PORT "j32[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[13]" SITE "F4";
IOBUF PORT "j32[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[14]" SITE "F5";
IOBUF PORT "j32[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[15]" SITE "E5";
IOBUF PORT "j32[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[16]" SITE "B1";
IOBUF PORT "j32[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[17]" SITE "A2";
IOBUF PORT "j32[17]" IO_TYPE=LVCMOS33;

LOCATE COMP "j32[0]" SITE "C2";
IOBUF PORT "j32[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[1]" SITE "B2";
IOBUF PORT "j32[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[2]" SITE "D1";
IOBUF PORT "j32[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[3]" SITE "C1";
IOBUF PORT "j32[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[4]" SITE "E1";
IOBUF PORT "j32[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[5]" SITE "D1";
IOBUF PORT "j32[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[6]" SITE "C1";
IOBUF PORT "j32[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[7]" SITE "E1";
IOBUF PORT "j32[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[8]" SITE "E1";
IOBUF PORT "j32[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[9]" SITE "D2";
IOBUF PORT "j32[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[10]" SITE "G5";
IOBUF PORT "j32[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[11]" SITE "H4";
IOBUF PORT "j32[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[12]" SITE "H3";
IOBUF PORT "j32[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[13]" SITE "H5";
IOBUF PORT "j32[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[14]" SITE "F3";
IOBUF PORT "j32[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[15]" SITE "G3";
IOBUF PORT "j32[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[16]" SITE "E2";
IOBUF PORT "j32[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "j32[17]" SITE "F2";
IOBUF PORT "j32[17]" IO_TYPE=LVCMOS33;

LOCATE COMP "j30[0]" SITE "B6";
IOBUF PORT "j30[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[1]" SITE "D9";
IOBUF PORT "j30[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[2]" SITE "C9";
IOBUF PORT "j30[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[3]" SITE "E9";
IOBUF PORT "j30[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[4]" SITE "D10";
IOBUF PORT "j30[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[5]" SITE "A6";
IOBUF PORT "j30[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "j30[6]" SITE "E10";
IOBUF PORT "j30[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "j31[0]" SITE "C6";
IOBUF PORT "j31[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[1]" SITE "C7";
IOBUF PORT "j31[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[2]" SITE "E8";
IOBUF PORT "j31[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[3]" SITE "D8";
IOBUF PORT "j31[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[4]" SITE "C8";
IOBUF PORT "j31[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[5]" SITE "B8";
IOBUF PORT "j31[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[6]" SITE "A7";
IOBUF PORT "j31[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "j31[7]" SITE "A8";
IOBUF PORT "j31[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "sck" SITE "U3";
IOBUF PORT "sck" IO_TYPE=LVCMOS33;
LOCATE COMP "mosi" SITE "W2";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "miso" SITE "V2";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;
LOCATE COMP "busy" SITE "R2";
IOBUF PORT "busy" IO_TYPE=LVCMOS33;
LOCATE COMP "dq2" SITE "Y2";
IOBUF PORT "dq2" IO_TYPE=LVCMOS33;
LOCATE COMP "dq3" SITE "W1";
IOBUF PORT "dq3" IO_TYPE=LVCMOS33;

LOCATE COMP "switch[0]" SITE "J1";
IOBUF PORT "switch[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[1]" SITE "H1";
IOBUF PORT "switch[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[2]" SITE "K1";
IOBUF PORT "switch[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[3]" SITE "E15";
IOBUF PORT "switch[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[4]" SITE "D16";
IOBUF PORT "switch[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[5]" SITE "B16";
IOBUF PORT "switch[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[6]" SITE "C16";
IOBUF PORT "switch[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "switch[7]" SITE "A16";
IOBUF PORT "switch[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "button_1" SITE "P4";
IOBUF PORT "button_1" IO_TYPE=LVCMOS33;
LOCATE COMP "gsrn" SITE "G2";
IOBUF PORT "gsrn" IO_TYPE=LVCMOS33;

LOCATE COMP "ledn[0]" SITE "A13";
IOBUF PORT "ledn[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[1]" SITE "A12";
IOBUF PORT "ledn[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[2]" SITE "B19";
IOBUF PORT "ledn[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[3]" SITE "A18";
IOBUF PORT "ledn[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[4]" SITE "B18";
IOBUF PORT "ledn[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[5]" SITE "C17";
IOBUF PORT "ledn[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[6]" SITE "A17";
IOBUF PORT "ledn[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "ledn[7]" SITE "B17";
IOBUF PORT "ledn[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "scl0" SITE "D7";
IOBUF PORT "scl0" IO_TYPE=LVCMOS33;
LOCATE COMP "sda0" SITE "E6";
IOBUF PORT "sda0" IO_TYPE=LVCMOS33;
